# Linear Regression to Movie Prediction

In [1]:
import tensorflow as tf
sess = tf.Session(config=tf.ConfigProto(log_device_placement=True,allow_soft_placement=True))

C:\Users\karan\Anaconda3\envs\tensorflow\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('movie_rating.txt', sep="\t\t", header=None)

C:\Users\karan\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [5]:
movie_to_rating = {}
movie_to_index = {}
for i in range(1,len(data)):
    movie = data.iloc[i][0]
    rating = data.iloc[i][1]
    movie_to_rating[movie]=rating
    movie_to_index[movie]=i

In [6]:
myfile = open("actor_movies.txt","r")

data = myfile.readlines()

In [7]:
k=2015
str1 = data[k].split('\t\t')[len(data[k].split('\t\t'))-1].replace('  \n','')
str2 = str1.replace('\n','')
str2

for i in range(1,5):
    print(i)

1
2
3
4

In [8]:
actor_rating_sum = {}
actor_rating_count = {}

for i in data :
    row = i.split('\t\t')
    actor = row[0]
    row[len(row)-1]= row[len(row)-1].replace('  \n','')
    row[len(row)-1]= row[len(row)-1].replace('\n','')
    
    for j in range(1,len(row)):
        if(row[j] in movie_to_rating)==False :
            continue
            
        if actor in actor_rating_sum:
            actor_rating_sum[actor]=actor_rating_sum[actor]+movie_to_rating[row[j]]
            actor_rating_count[actor]=actor_rating_count[actor] + 1
        
        else : 
            actor_rating_sum[actor]=movie_to_rating[row[j]]
            actor_rating_count[actor]= 1
        
actor_rating_average={} 

for i in actor_rating_count:
    actor_rating_average[i]=actor_rating_sum[i]/actor_rating_count[i]

In [9]:
len(actor_rating_average)

799938

In [10]:
myfile = open("actress_movies.txt","r")
data = myfile.readlines()
for i in data :
    row = i.split('\t\t')
    actor = row[0]
    row[len(row)-1]= row[len(row)-1].replace('  \n','')
    row[len(row)-1]= row[len(row)-1].replace('\n','')
    
    for j in range(1,len(row)):
        if(row[j] in movie_to_rating)==False :
            continue
            
        if actor in actor_rating_sum:
            actor_rating_sum[actor]=actor_rating_sum[actor]+movie_to_rating[row[j]]
            actor_rating_count[actor]=actor_rating_count[actor] + 1
        
        else : 
            actor_rating_sum[actor]=movie_to_rating[row[j]]
            actor_rating_count[actor]= 1
        
actor_rating_average={} 

for i in actor_rating_count:
    actor_rating_average[i]=actor_rating_sum[i]/actor_rating_count[i]

In [11]:
len(actor_rating_average)

1252143

In [12]:
myfile = open("actress_movies.txt","r")
data = myfile.readlines()

movies_predicted_rating = {}
movies_predicted_count={}
movies_predicted_average={}

for i in data :
    row = i.split('\t\t')
    actor = row[0]
    row[len(row)-1]= row[len(row)-1].replace('  \n','')
    row[len(row)-1]= row[len(row)-1].replace('\n','')
    if(actor in actor_rating_average)==False:
        continue
    
    for j in range(1,len(row)):    
        if row[j] in movies_predicted_rating:
            movies_predicted_rating[row[j]]=movies_predicted_rating[row[j]]+actor_rating_average[actor]
            movies_predicted_count[row[j]]=movies_predicted_count[row[j]]+1
        
        else : 
            movies_predicted_rating[row[j]]=actor_rating_average[actor]
            movies_predicted_count[row[j]]=1

In [52]:
for k in actor_rating_average:
    if 'Aldieri' in k:
        if 'Ammar' in k :
            print(k)

In [13]:
for i in movies_predicted_rating:
    movies_predicted_average[i] = movies_predicted_rating[i]/movies_predicted_count[i]

# Question 13 Output

In [14]:
movies_predicted_average.items()
summ=0
count=0
for k in movies_predicted_average:
    if'Minions (2015)' in k:
        print(k)
        summ=summ+movies_predicted_rating[k]
        count = count + movies_predicted_count[k]

print(summ/count)

Minions (2015)  (voice)
Minions (2015)
6.536666666666667

In [15]:
movies_predicted_average['Batman v Superman: Dawn of Justice (2016)  ']

6.373333333333334

In [16]:
movies_predicted_average['Mission: Impossible - Rogue Nation (2015)  (uncredited)  ']

7.24

# Question 12 computation

In [18]:
movies_actor_features = movies_predicted_average
movies_director_features = {}

#here actor is director
actor_rating_sum = {}
actor_rating_count = {}
myfile = open("director_movies.txt","r")

data = myfile.readlines()

for i in data :
    row = i.split('\t\t')
    actor = row[0]
    row[len(row)-1]= row[len(row)-1].replace('  \n','')
    row[len(row)-1]= row[len(row)-1].replace('\n','')
    
    for j in range(1,len(row)):
        if(row[j] in movie_to_rating)==False :
            continue
            
        if actor in actor_rating_sum:
            actor_rating_sum[actor]=actor_rating_sum[actor]+movie_to_rating[row[j]]
            actor_rating_count[actor]=actor_rating_count[actor] + 1
        
        else : 
            actor_rating_sum[actor]=movie_to_rating[row[j]]
            actor_rating_count[actor]= 1
        
actor_rating_average={} 

for i in actor_rating_count:
    actor_rating_average[i]=actor_rating_sum[i]/actor_rating_count[i]

In [19]:
myfile = open("director_movies.txt","r")
data = myfile.readlines()

movies_predicted_rating = {}
movies_predicted_count={}
movies_predicted_average={}

for i in data :
    row = i.split('\t\t')
    actor = row[0]
    row[len(row)-1]= row[len(row)-1].replace('  \n','')
    row[len(row)-1]= row[len(row)-1].replace('\n','')
    if(actor in actor_rating_average)==False:
        continue
    
    for j in range(1,len(row)):    
        if row[j] in movies_predicted_rating:
            movies_predicted_rating[row[j]]=movies_predicted_rating[row[j]]+actor_rating_average[actor]
            movies_predicted_count[row[j]]=movies_predicted_count[row[j]]+1
        
        else : 
            movies_predicted_rating[row[j]]=actor_rating_average[actor]
            movies_predicted_count[row[j]]=1

In [20]:
for i in movies_predicted_rating:
    movies_predicted_average[i] = movies_predicted_rating[i]/movies_predicted_count[i]

In [21]:
movies_director_feature = movies_predicted_average

In [22]:
xtrain = np.ones([20000,2])
ytrain = np.ones([20000,1])

test_count=0
train_count=0
net_count=0
for i in movies_actor_features:
    
    if(i not in movie_to_rating):
        continue
    if (i not in movies_director_feature) or (i not in movies_actor_features):
        continue
   
    net_count=net_count+1
    rating = movie_to_rating[i]
    if('Batman v ' in i) or ('Mission: Impossible - Rogue Nation (2015)' in i) or('Minions (2015)' in i):
        print(i)
        print(test_count)
        ytest[test_count]=rating
        xtest[test_count][0]=movies_director_feature[i]
        xtest[test_count][1]=movies_actor_features[i]
        test_count=test_count+1
        
    else:
        if(train_count>=10000):
            continue
        ytrain[train_count]=rating
        xtrain[train_count][0]=movies_director_feature[i]
        xtrain[train_count][1]=movies_actor_features[i]
        train_count=train_count+1

In [23]:
net_count

130739

In [40]:
xtrain.shape

(20000, 2)

In [43]:
n_dim=2


X = tf.placeholder(tf.float32,[None,n_dim])
Y = tf.placeholder(tf.float32,[None,1])
W = tf.Variable(tf.ones([n_dim,1]))
#b=  tf.Variable(tf.ones([n_dim],1))
y_ = tf.matmul(X, W)
cost = tf.reduce_mean(tf.square(y_ - Y))
training_step = tf.train.GradientDescentOptimizer(0.01).minimize(cost)

In [58]:
import math
sess.run(tf.global_variables_initializer())
batch_size=10
flag=0
for epoch in range(1,30):
    for i in range(1,20000,batch_size):
        train_batch=xtrain[i:i+batch_size]
        train_batch_y=ytrain[i:i+batch_size]
    
        sess.run(training_step,feed_dict={X:train_batch,Y:train_batch_y})
        #print(epoch)
        
        x =math.sqrt(sess.run(cost,feed_dict={X:xtest,Y:ytest}))
        print(x)

1.9160347256111838
1.7491347353660294
0.7042404863123226
0.47064780072405854
0.5291442932695644
0.3433399898017266

In [51]:
xtest = np.ones([3,2])
ytest = np.ones([3,1])
xtest[0][0]=movies_actor_features['Batman v Superman: Dawn of Justice (2016)  ']
xtest[0][1]=movies_director_feature['Batman v Superman: Dawn of Justice (2016)']
ytest[0]= 6.6

xtest[1][0]=6.536666666666667
xtest[1][1]=movies_director_feature['Minions (2015)']
ytest[1]=6.4

xtest[2][0]=movies_actor_features['Mission: Impossible - Rogue Nation (2015)  (uncredited)  ']
xtest[2][1]=movies_director_feature['Mission: Impossible - Rogue Nation (2015)']
ytest[2]=7.4

In [59]:
print(math.sqrt(sess.run(cost,feed_dict={X:xtest,Y:ytest})))

0.3433399898017266

In [60]:
print(sess.run(y_,feed_dict={X:xtest,Y:ytest}))

[[6.6271515]
 [6.6932974]
 [6.8833895]]

In [217]:
import math
math.sqrt(0.18281533)

0.42756909383162855

In [61]:
a=tf.placeholder(tf.float32,[None,1])
b = tf.placeholder(tf.float32,[None,1])
cost_13 = tf.reduce_mean(tf.square(a - b))
y_test13=np.ones([3,1])
y_test13[0]=6.373333333333334
y_test13[1]=6.536666666666667
y_test13[2]= 7.24
print(math.sqrt(sess.run(cost_13,feed_dict={a:ytest,b:y_test13})))

0.17856426160769248